.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

android/local.properties
android/.gradle/
android/app/keystore.jks
android/gradlew
android/gradlew.bat
android/gradle/
keystore.b64.txt

*.iml
.idea/
.vscode/
